.center {
    display: flex;
}
.choose-servicesss {
    position: relative;
    top: 70px;
    left: 0%;
    color: rgb(0, 0, 0);
    font: bold large serif;
}


.firstrec {
    position: relative;
    padding-right: 40px;
    top: 100px;
    left: 0%;
    width: 1200px;
    height: 1000px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    opacity: 1;
}


.button_serv1 {
    position: relative;
    top: 55px;
    left: -5%;
    width: 200px;
    height: 200px;
    background: rgb(119, 53, 226);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(81, 0, 211);
}

.button_serv1:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.discorddd img {
    position: relative;
    left: 0%;
    top: 23px;
    margin-left: 0px 0px 0px 30px;
    width: 100px;
    height: 100px;
}

.dis {
    position: relative;
    top: 30px;
    left: 0%;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.serviceee2 {
    position: relative;
    top: 70px;
    left: -5%;
    width: 200px;
    height: 200px;
    background: rgb(226, 10, 10);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(192, 19, 19);
}

.serviceee2:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.side-by-side {
    width: 88%;
}

.area-component {
    position: relative;
    float: left;
    width: 50%;
    padding-bottom: 10%;
}

.area-image-n {
    margin-left: 55%;
    margin-top: 7%;
}

.sep-between-linear {
    position: relative;
    padding-top: inherit;
    padding-left: inherit;
}

.sep-between-logos {
    position: relative;
    padding-bottom: 0px;
    padding-top: inherit;
    padding-left: inherit;
}

.linear-progress-fst {
    margin-left: -26px;
    margin-right: 10px;
}

.linear-progress-snd {
    margin-left: -4px;
    margin-right: -8px;
}

.start-box {
    position: relative;
    margin-left: 320px;
    padding-bottom: 5%;
}

.separation {
    padding-left: 45px;
}

.padding {
    padding-right: 320px;
}

.linkedin-color {
    background-color: #0e76a8;
}

.youtube-color { 
    background-color: red;
} 

.twitter-color {
    background-color: #1DA1F2;
}

.discord-color {
    background-color: #5865F2;
}

.gmail-color {
    background-color: white;
}

.calendar-color {
    background-color: white;
}

.drive-color {
    background-color: white;
}

.coingecko-color {
    background-color: greenyellow;
}

.github-color {
    background-color: black;
}

.spotify-color {
    background-color: black;
}

.weather-color {
    background-color: #1DA1F2;
}

.ipfs-color {
    background-color: white;
}

.side-by-side {
    width: 85%;
}

.area-component {
    position: relative;
    float: left; 
    width: 50%;
    padding-bottom: 5%;
}

.area-image {
    margin-left: 30%;
    height: 100px;
    width: -webkit-fill-available;
    border-radius: 15%;
}

.red { 
    background-color: red;
} 

.yellow { 
    background-color: yellow;
}

.youtube {
    position: relative;
    top: 15px;
    left: 0%;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.yt img {
    position: relative;
    left: 0%;
    top: 20px;
    margin-left: 0px 0px 0px 30px;
    width: 130px;
    height: 130px;
}

.gtb {
    position: relative;
    top: 20px;
    left: 0%;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.serviceee3 {
    position: relative;
    top: 65px;
    left: 0%;
    width: 200px;
    height: 200px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.github img {
    position: relative;
    left: 0%;
    top: 20px;
    margin-left: 0px 0px 0px 30px;
    width: 220px;
    height: 120px;
}

.serviceee3:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.serviceee4{
    position: relative;
    top: 50px;
    left: 5%;
    width: 200px;
    height: 200px;
    background: rgb(12, 97, 209);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(1, 57, 131);
}

.lk img {
    position: relative;
    left: 0%;
    top: 23px;
    margin-left: 0px 0px 0px 30px;
    width: 90px;
    height: 90px;
}

.linked {
    position: relative;
    top: 35px;
    left: 0%;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.serviceee4:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.serviceee5 {
    position: relative;
    top: 88px;
    left: 10%;
    width: 200px;
    height: 200px;
    background: rgb(151, 197, 66);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(71, 100, 16);
}

.coin img {
    position: relative;
    left: 0%;
    top: 15px;
    margin-left: 0px 0px 0px 30px;
    width: 220px;
    height: 160px;
}

.coinnnegeckok {
    position: relative;
    top: 0px;
    left: 0%;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.serviceee5:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.servii6 {
    position: relative;
    top: 90px;
    left: -5%;
    width: 200px;
    height: 200px;
    background: rgb(52, 146, 235);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 96, 185);
}

.twit img {
    position: relative;
    left: 0%;
    top: 25px;
    margin-left: 0px 0px 0px 30px;
    width: 100px;
    height: 80px;
}

.twitter {
    position: relative;
    top: 40px;
    left: 0%;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.servii6:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.servii7 {
    position: relative;
    top: 90px;
    left: 0%;
    width: 200px;
    height: 200px;
    background: rgb(235, 235, 235);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(114, 114, 114);
}

.gmail img{
    position: relative;
    left: 0%;
    top: 15px;
    margin-left: 0px 0px 0px 30px;
    width: 90px;
    height: 80px;
}

.icilemail {
    position: relative;
    top: 40px;
    left: 0%;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.servii7:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.serviii8 {
    position: relative;
    top: 95px;
    left: 5%;
    width: 200px;
    height: 200px;
    background: rgb(250, 187, 187);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(182, 109, 109);
}

.ohhhhhcal img{
    position: relative;
    left: 0%;
    top: 20px;
    margin-left: 0px 0px 0px 30px;
    width: 90px;
    height: 90px;
}

.nicecalendar {
    position: relative;
    top: 35px;
    left: 0%;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.serviii8:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.serviii9 {
    position: relative;
    top: 100px;
    left: 10%;
    width: 200px;
    height: 200px;
    background: rgb(83, 195, 199);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(43, 136, 139);
}

.ipfs img{
    position: relative;
    left: 0%;
    top: 15px;
    margin-left: 0px 0px 0px 30px;
    width: 200px;
    height: 100px;
}

.ipfss {
    position: relative;
    top: 30px;
    left: 0%;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.serviii9:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.servii10 {
    position: relative;
    top: 110px;
    left: -5%;
    width: 200px;
    height: 200px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.spot img{
    position: relative;
    left: 0%;
    top: 15px;
    margin-left: 0px 0px 0px 30px;
    width: 90px;
    height: 90px;
}

.spotify {
    position: relative;
    top: 30px;
    left: 0%;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.servii10:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.servii11 {
    position: relative;
    top: 135px;
    left: 0%;
    width: 200px;
    height: 200px;
    background: rgb(10, 184, 190);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(8, 156, 161);
}

.weath img{
    position: relative;
    left: 0%;
    top: 15px;
    margin-left: 0px 0px 0px 30px;
    width: 140px;
    height: 140px;
}

.weather {
    position: relative;
    top: 5px;
    left: 0%;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.servii11:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.servii12 {
    position: relative;
    top: 110px;
    left: 5%;
    width: 200px;
    height: 200px;
    background: rgb(137, 46, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(104, 34, 196);
}

.twitch img{
    position: relative;
    left: 0%;
    top: 15px;
    margin-left: 0px 0px 0px 30px;
    width: 140px;
    height: 90px;
}

.twch {
    position: relative;
    top: 30px;
    left: 0%;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.servii12:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.serviii13 {
    position: relative;
    top: 110px;
    left: 10%;
    width: 200px;
    height: 200px;
    background:  rgb(235, 235, 235);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(134, 134, 134);
}

.drive img {
    position: relative;
    left: 0%;
    top: 23px;
    margin-left: 0px 0px 0px 30px;
    width: 90px;
    height: 90px;
}

.drv {
    position: relative;
    top: 35px;
    left: 0%;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.serviii13:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.servii15 {
    position: relative;
    top: 160px;
    left: 0%;
    width: 200px;
    height: 200px;
    background:  rgb(6, 0, 95);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(4, 0, 54);
}

.muslim img {
    position: relative;
    left: 0%;
    top: 23px;
    margin-left: 0px 0px 0px 30px;
    width: 45%;
}

.muss {
    position: relative;
    top: 35px;
    left: 0%;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.servii15:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.serv14 {
    position: relative;
    top: 190px;
    left: 3%;
    width: 200px;
    height: 200px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

.servii16 {
    position: relative;
    top: 160px;
    left: 5%;
    width: 200px;
    height: 200px;
    background:  rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(4, 0, 54);
}

.riot img {
    position: relative;
    left: 0%;
    top: 23px;
    margin-left: 0px 0px 0px 30px;
    width: 75%;
}

.rioo {
    position: relative;
    top: 35px;
    left: 0%;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.servii15:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}