.backcal {
    position: relative;
    display: inline-block;
    display: flex;
    height: 500px;
    background: linear-gradient(360deg, rgb(250, 187, 187), rgb(255, 255, 255) 100%);
}

.cal {
    position: relative;
    display: block;
    margin: auto;
    width: 9%;
    top: 20px;
    left: -15%;
}

.button {
    position: relative;
    top: 0px;
    font: bold large;
    left: -35px;
}

.disc {
    position: relative;
    top: 100px;
}

.namecal {
    position: relative;
    display: block;
    margin-left: auto;
    color: rgb(255, 255, 255);
    font: bold large serif;
    top: 30px;
    left: -15%;
}

.descripcal {
    position: relative;
    color: rgb(255, 255, 255);
    font: bold large serif;
    font-size: 1;
    top: 30px;
    margin-right: 100px;
    padding: 35px;
    left: -15%;
}

.gobackcal {
    position: relative;
    width: 80px;
    height: 30px;
    background:rgb(250, 187, 187);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    top: -200px;
    left: 55%;
}

.gobackcal:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.Actions {
    color: (30,33,36);
    left: 0%;
    position: relative;
    top: 70px;
}

.callract1 {
    position: relative;
    top: 169px;
    left: -3%;
    width: 200px;
    height: 200px;
    background: rgb(250, 187, 187);
    border-radius: 10px;
}

.callraction1 {
    position: relative;
    display: block;
    margin-left: auto;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.callract1:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}


.callract2 {
    position: relative;
    top: 169px;
    left: 3%;
    width: 200px;
    height: 200px;
    background: rgb(250, 187, 187);
    border-radius: 10px;
}

.callraction2 {
    position: relative;
    display: block;
    margin-left: auto;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.callract2:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.ytact7 {
    position: relative;
    top: 169px;
    left: 5%;
    width: 200px;
    height: 200px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

.ytaction7 {
    position: relative;
    display: block;
    margin-left: auto;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.ytact7:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}