.backgt {
    position: relative;
    display: inline-block;
    display: flex;
    height: 500px;
    background: linear-gradient(360deg, rgb(0, 0, 0), rgb(255, 255, 255) 100%);
}

.gitt {
    position: relative;
    display: block;
    margin: auto;
    width: 18%;
    left: -15%;
}

.buttongit {
    position: relative;
    width: 100%;
    top: 10px;
    font: bold large;
    left: -35px;
}

.disc {
    position: relative;
    top: 100px;
}

.namegt {
    position: relative;
    display: block;
    margin-left: auto;
    color: rgb(255, 255, 255);
    font: bold large serif;
    top: 0px;
    left: -15%;
}

.descripgt {
    position: relative;
    color: rgb(255, 255, 255);
    font: bold large serif;
    font-size: 1;
    top: 0px;
    margin-right: 100px;
    padding: 35px;
    left: -15%;
}

.gobackgt {
    position: relative;
    width: 80px;
    height: 30px;
    background:rgb(75, 74, 74);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    top: -200px;
    left: 55%;
}

.gobackgt:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.Actions {
    color: (30,33,36);
    left: 0%;
    position: relative;
    top: 70px;
}


.gtact1 {
    position: relative;
    top: 130px;
    left: -5%;
    width: 200px;
    height: 200px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
}

.gtaction1 {
    position: relative;
    display: block;
    margin-left: auto;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.gtact1:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.gtact2 {
    position: relative;
    top: 110px;
    left: 0%;
    width: 200px;
    height: 200px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
}

.gtaction2 {
    position: relative;
    display: block;
    margin-left: auto;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.gtact2:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.gtact3 {
    position: relative;
    top: 130px;
    left: 5%;
    width: 200px;
    height: 200px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
}

.gtaction3 {
    position: relative;
    display: block;
    margin-left: auto;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.gtact3:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.gtrea3 {
    position: relative;
    top: 430px;
    left: 5%;
    width: 220px;
    height: 220px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
}

.gtaction3 {
    position: relative;
    display: block;
    margin-left: auto;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.gtrea3:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.gtact4 {
    position: relative;
    top: 170px;
    left: -5%;
    width: 200px;
    height: 200px;
    background:rgb(0, 0, 0);
    border-radius: 10px;
}

.gtaction4 {
    position: relative;
    display: block;
    margin-left: auto;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.gtact4:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.gtact5 {
    position: relative;
    top: 150px;
    left: 0%;
    width: 200px;
    height: 200px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
}

.gtaction5 {
    position: relative;
    display: block;
    margin-left: auto;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.gtact5:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.gtact6 {
    position: relative;
    top: 130px;
    left: 5%;
    width: 200px;
    height: 200px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
}

.gtaction6 {
    position: relative;
    display: block;
    margin-left: auto;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.gtact6:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}

.gtact7 {
    position: relative;
    top: 180px;
    left: 0%;
    width: 200px;
    height: 200px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
}

.gtaction7 {
    position: relative;
    display: block;
    margin-left: auto;
    color: rgb(255, 255, 255);
    font: bold large serif;
}

.gtact7:hover {
    transform: rotate(360deg);
    transform: scale(1.04);
    transition: all 0.2s linear;
}