<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186275522212-epelr0ftbp19u9777tu70hhfpcdtrnpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186275522212-epelr0ftbp19u9777tu70hhfpcdtrnpl</string>
	<key>API_KEY</key>
	<string>AIzaSyCScOSVwHKhY1bwhOnnJBXok054YEnpKJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>186275522212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.staive.app.mobile</string>
	<key>PROJECT_ID</key>
	<string>staive-flutter-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>staive-flutter-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186275522212:ios:83e0b1f5b87a68a076a831</string>
</dict>
</plist>